<div class="dashboard-div" id="3month-lookahead-dashboard-div" >
  <h2 class="">3-Month Lookahead</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <!--<h4 class="text-dark  header-title m-t-0 m-b-30">Summary</h4>-->
        <div class="widget-chart text-center">
          <div class="gantt-chart" id="gantt-chart-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
