<div class="dashboard-div" id="commercial-dashboard-div">
  <h2 class="">Commercial</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Commercial Summary(€m)</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="commercial-bar-chart-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">CN Status</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="commercial-bar-chart-2">Loading...</div>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="commercial-commentary-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>


