<div class="dashboard-div" id="project-overview-dashboard-div" >
  <h2 class="">Project Overview</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <!---<h4 class="text-dark  header-title m-t-0 m-b-30">Key Decisions Required</h4>-->
        <div class="widget-chart text-center">
          <img src="" id="project-overview-img-1"/>
        </div>
      </div>
    </div>
  </div>
</div>