<div class="dashboard-div" id="risks-opportunities-dashboard-div">
  <h2 class="">Risks &amp; Opportunities</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Exposure (£)</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="risk-bar-chart-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Top 5 Risks</h4>
        <div class="widget-chart text-center">
          <div class="data-table" id="risk-data-table-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Top 5 Opportunities</h4>
        <div class="widget-chart text-center">
          <div class="data-table" id="risk-data-table-2">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="risk-rag-commentary">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


