<div class="dashboard-div" id="sustainability-dashboard-div">
  <h2 class="">Sustainability</h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Metric</h4>
        <div class="widget-chart text-center">
          <div class="data-table" id="sustainability-data-table-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Temporary location -->
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="sustainability-commentary-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>

 <!-- Uncomment when chart is available
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">TBA</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="sustainability-bar-chart-2">Loading...</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="sustainability-commentary-1">Loading...</div>
        </div>
      </div>
    </div>
  </div>
-->
  </div>
</div>


