/*
.data-table:not(.no-rag) div div table tbody tr td:last-child {
  background: #DC3912;
  color: #FFF;
}
*/

#wrapper {
    opacity: 0;
}

.bg-medium-gray {
  background-color: #414042;
}

.disable {
  opacity: 0.4;
  pointer-events: none;
}

.rag-circle {
  font-size: 22px;
  cursor: pointer;
}

.rag-header, .rag-cell {
  text-align: center !important;
}

.rag-red {
  color: #FF5454;
}

.rag-amber {
  color: #FFBF00;
}

.rag-green {
  color: #79C447;
}

.rag-gray {
  color: #E5E5E5;
}

.header-title {
    margin-bottom: 15px !important;
}



.left-header-list {
  padding-right: 20px;
}

.header-list {
  font-size: 13px;
}

#reporting-period-block { 
  color: #414042 !important;
  padding: 15px 15px;
  position: relative;
  margin-right: 20px;
}

.card-box {
  padding: 10px !important;
}

.loadingoverlay {
  /*z-index: 9999 !important;*/
}

/* TOP 4 BOXES */
.card-box i.indicator-icon {
  display: block;
  float: left;
  color: #fff;
  font-size: 25px;
  text-align: center;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  padding-right: 10px;
  line-height: 2.4em;
}

.card-box .counter {
  font-size: 20px;
  text-align: left;
}

.card-box .title {
  font-size: 15px;
  text-align: left;
}



/* GOOGLE DATA TABLE GENERAL STYLE */
.google-visualization-table {
  border: none !important;
}

.google-visualization-table-div-page {
  display: none !important;
}

/* not in use
.google-visualization-table-div-page [role="button"] {
  font-size: 20px !important;
}
*/

.google-visualization-table .gradient {
  /*font-size: 18px;*/
}

.hide-table-header {
  display: none !important;
}

.light-background {
  background: #F5F5F5;
}

.soft-table-header {
  background: #FFFFFF;
}

.soft-table-header th {
  font-size: 14px !important;
  padding: 15px !important;
  
}

.dark-border {
  border: 0px solid #FFFFFF !important;
  border-bottom: 2px solid #999 !important;
}

.table-cell {
  border: 0px solid #fff !important;
  border-bottom: 1px solid #e5e5e5 !important;
  text-align: left !important;
  padding: 15px !important;
}


.dark-hover {
  background: #E5E5E5 !important;
}







#gantt-chart-1 {
  height: 500px !important;
}


.btn-primary {
    background-color: #E72B78 !important;
    border: 1px solid #E72B78 !important;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #B5215D !important;
    border: 1px solid #B5215D !important;
}


.google-visualization-table-td {
  text-align: left !important;
}

.pie-chart {
  height: 400px;
}

.pie-chart.small {
  height: 250px;
}

#wrapper .topbar .topbar-left #logo-id {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  margin-left: 0%;
}

#wrapper.enlarged .topbar .topbar-left #logo-id {
  width: 100% !important;
  height: 90% !important;
  margin-top: 3% !important;
  margin-left: 0 !important;
}

#project-overview-img-1,
.critical-path-diagram-img {
  width: 100%;
}

#milestone-icon-1 {
  float: right;
  color: #E72B78 !important;
}

#executive-summary-text {
  text-align: left;
}

#executive-update-block {
  padding: 20px;
}

/*
#programme-wide-risk-counter {
  display: none;
}
*/

.fa-arrow-up {
  color: #DC3912
}

.fa-arrow-down {
  color: #00b19d
}

.fa-arrows-h {
  color: #FF9900
}

/* RISKS TABLES */
#risk-data-table-1 div div table thead tr th:nth-child(1),
#risk-data-table-2 div div table thead tr th:nth-child(1),
#risk-data-table-3 div div table thead tr th:nth-child(1){
  /*width: 110px !important;*/
}

#risk-data-table-2 div .google-visualization-table-div-page,
#risk-data-table-3 div .google-visualization-table-div-page {
  display: none;
}

/* ISSUES TABLES */
#issue-data-table-1 div div table thead tr th:nth-child(1),
#issue-data-table-2 div div table thead tr th:nth-child(1) {
  width: 110px !important;
}

#issue-data-table-1 div div table tbody tr td:last-child,
#issue-data-table-2 div div table tbody tr td:last-child,
#issue-data-table-3 div div table tbody tr td:last-child{
  text-align: center !important;
}

#issue-data-table-2 div .google-visualization-table-div-page,
#issue-data-table-3 div .google-visualization-table-div-page {
  display: none;
}

/* DECISIONS TABLES */
#key-decision-data-table-1 div div table tbody tr td:last-child,
#key-decision-data-table-2 div div table tbody tr td:last-child,
#key-decision-data-table-3 div div table tbody tr td:last-child{
  text-align: center !important;
}

#key-decision-data-table-2 div .google-visualization-table-div-page,
#key-decision-data-table-3 div .google-visualization-table-div-page {
  display: none;
}

/* OPPORTUNITIES TABLES */
#opportunity-data-table-1 div div table tbody tr td:last-child,
#opportunity-data-table-2 div div table tbody tr td:last-child,
#opportunity-data-table-3 div div table tbody tr td:last-child{
  text-align: center !important;
}

#opportunity-data-table-2 div .google-visualization-table-div-page,
#opportunity-data-table-3 div .google-visualization-table-div-page {
  display: none;
}

/* PROGRESS TABLES */
#programme-on-page-data-table-1 div div table tbody tr td:not(:first-child) {
    text-align: center !important;
}


/* CHANGE CONTROL BAR CHART */
#change-control-bar-chart-1,
#change-control-bar-chart-2,
#change-control-bar-chart-3 {
  height: 200px;
}


.goog-custom-button-collapse-right {
  font-size: 18px;
}

/* RISKS OPPS BAR CHART */
#risk-bar-chart-1 {
  height: 500px;
}

#new-risk-bar-chart-1 {
  height: 500px;
}


/* COMMERCIAL BAR CHART */
#commercial-bar-chart-1 {
  height: 600px;
}

/* DOCUMENT CONTROL BAR CHART */
#document-control-bar-chart-1,
#document-control-bar-chart-2,
#document-control-bar-chart-3,
#document-control-bar-chart-4 {
  height: 250px;
}


/* COMPLIANCE CHARTS */
#compliance-pie-chart-1 {
    height: 300px;
}

/* Executive Summary Modal */
#update-executive-modal div .modal-content {
  padding: 0px !important;
  border-color: transparent !important;
}

#update-executive-modal div .modal-content .modal-header {
  padding: 20px !important;
  background: #E72B78 !important;
}

#update-executive-modal div .modal-content .modal-header button {
  color: #FFFFFF !important;
  opacity: 1 !important;
}

#update-executive-modal div .modal-content .modal-header h4 {
  color: #FFFFFF !important;
}

#update-executive-modal div .modal-content .modal-body {
  padding: 20px !important;
}

#update-executive-modal div .modal-content .modal-body div form .modal-footer {
  padding: 20px 20px 0 20px !important;
}
/* End */





/* GANTT CHART STYLE */

.delay-red .gantt_cell {
  color: #FF5454;
}

.completed-green .gantt_cell {
  color: #79C447;
}

.gantt-chart {
  height: 500px;
}

.gantt_tooltip { 
  font-size: 13px;
  text-align: left;
}

.baseline-milestone {
  width: 11px;
  height: 11px;
  position: absolute !important;
  transform: rotate(-45deg);
  background: #3DB9D3;
  border-radius: 2px;
  border: 1px solid #6595B1;
  box-sizing: content-box;
  
}

.baseline-text {
  position: absolute;
  padding-left: 28px;
  white-space: nowrap;
  color: #6e6e6e;
  font-size: 11px;
  margin: 0px;
}

/* Not in use
.baseline-milestone p {
  transform: rotate(45deg);
  padding-left: 24px;
  white-space: nowrap;
  color: #6e6e6e;
  font-size: 11px;
  position: absolute;
  bottom: -28px;
}
*/

/* Not in use 
.baseline-text p {
  padding-left: 28px;
  white-space: nowrap;
  color: #6e6e6e;
  font-size: 11px;
  margin: 0px;
}
*/


#gantt-chart-1 div div div div .gantt_milestone {
  margin-top: -10px;
  height: 13px !important;
  width: 13px !important;
}

.gantt_side_content.gantt_right {
  top: 0px !important;
}

.critical-path {
  background-color: #DB4437;
  border-color: #DB4437;
}


/* END */



/* MEDIA QUERIES */
@media print {
      body, html, #wrapper {
          width: 100%;
      }
      
      #risk-counter {
        font-size: 10px;
      }
}
