<div class="dashboard-div" id="change-control-dashboard-div">
  <h2 class="">Change Control</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Change Requests (CRFs)</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="change-control-bar-chart-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Change Notice (CN) Status</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="change-control-bar-chart-2">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Contractor CN Status</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="change-control-bar-chart-3">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="change-control-commentary-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


