<div class="row counters-container hidden">
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple text-center card-box bg-medium-gray">
      <i class="indicator-icon fa fa-bullseye"></i>
      <div class="text-white counter" id="impact-job1-counter">
        <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
        <!--<span class="sr-only">Loading...</span>-->
      </div>
      <div class="text-white title">Impact on Job#1</div>
      
      <!--<div class="text-white count">£12345</div>
      <div class="text-white title"> Target
      <div class="text-white description">Just testing</div>-->
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple text-center card-box bg-medium-gray">
      <i class="indicator-icon fa fa-bar-chart"></i>
      <div class="text-white counter" id="status-counter">
        <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
      </div>
      <!-- <div class="text-white title">BDR Status</div> -->
      <div class="text-white title">Target</div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple text-center card-box bg-medium-gray">
      <i class="indicator-icon fa fa-balance-scale"></i>
      <div class="text-white counter" id="swrm-counter">
        <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
      </div>
      <!--<div class="text-white title">Risks &amp; Opportunities</div> -->
      <div class="text-white title">Baseline</div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple text-center card-box bg-medium-gray">
      <i class="indicator-icon fa fa-check-square-o"></i>
      <div class="text-white counter" id="swrm-change-counter">
        <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
      </div>
      <!-- <div class="text-white title">Approved Changes</div> -->
      <div class="text-white title">Forecast</div>
    </div>
  </div>
</div>