<!-- New version -->
<div class="dashboard-div" id="document-control-dashboard-div">
  <h2 class="">Document Control</h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Documents / Drawings</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Documents / Drawings Approval Summary </h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-2">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Documents / Drawings Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="document-control-commentary-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Technical Queries Raised</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-3">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Technical Queries By Project</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-4">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Technical Queries Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="document-control-commentary-2">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div-->
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Request For Information Raised</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-5"  style="height: 266px">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    <!--div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Request For Information By Project</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-6"  style="height: 266px">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div-->
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Request For Information Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="document-control-commentary-3">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Old verison
<div class="dashboard-div" id="document-control-dashboard-div">
  <h2 class="">Document Control</h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Documents Received</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Technical Queries By Project </h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-4">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Drawings Received</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-2">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Technical Queries Raised</h4>
        <div class="widget-chart text-center">
          <div class="bar-chart" id="document-control-bar-chart-3">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Drawings Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="document-control-commentary-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Technical Queries Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="document-control-commentary-2">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  -->
    
 




