<div class="dashboard-div" id="key-issues-dashboard-div">
  <h2 class="">Issues</h2>
  <div class="row">
    <!--<div class="col-lg-5">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Issue Profile</h4>
        <div class="widget-chart text-center">
          <div class="pie-chart" id="issue-pie-chart-1"></div>
        </div>
      </div>
    </div>-->

    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Key Issues</h4>
        <div class="widget-chart text-center">
          <div class="data-table" id="key-issues-data-table-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

