<div class="dashboard-div" id="key-milestones-dashboard-div" >
  <h2 class="">Key Milestones</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <!--<h4 class="text-dark  header-title m-t-0 m-b-30">Key Milestones</h4>-->
        <div class="widget-chart">
          <div class="gantt-chart" id="gantt-chart-1"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Commentary</h4>
        <div class="widget-chart text-center">
          <div class="commentary" id="milestones-commentary-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
