<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <!--- Divider -->
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Main</li>
        <!--
        <li id="programme-page-btn" class="section-btn" data-section-div="programme-page-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary subdrop"><i class="md md-dashboard fa fa-file" aria-hidden="true"></i><span> Programme on a Page </span></a>
        </li>
        -->
        <li id="programme-on-page-btn" class="section-btn" data-section-div="programme-on-page-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary subdrop"><i class="md md-dashboard fa fa-file-powerpoint-o" aria-hidden="true"></i><span> Programme on a Page </span></a>
        </li>
        
        <li id="progress-btn" class="section-btn disable" data-section-div="progress-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary "><i class="md md-dashboard fa fa-tasks" aria-hidden="true"></i><span> Progress </span></a>
        </li>
  
        <li id="change-control-btn" class="section-btn disable" data-section-div="change-control-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-palette fa fa-code-fork"></i> <span> Change Control </span></a>      
        </li>
    
        <li id="commercial-btn" class="section-btn disable" data-section-div="commercial-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-money"></i><span> Commercial </span></a>
        </li>
        
        <!--li id="opportunity-btn" class="section-btn" data-section-div="schedule-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-hourglass-half"></i><span> Schedule </span></a>
        </li-->
        
        <li class="has_sub section-btn disable" id="schedule-btn">
          <a href="javascript:;" class="waves-effect waves-primary">
            <i class="md md-redeem fa fa-hourglass-half"></i>
            <span> Schedule </span>
          </a>
          <ul class="list-unstyled">
            <li id="key-milestones-btn" class="section-btn" data-section-div="key-milestones-dashboard-div"><a href="javascript:;"> Key Milestones</a></li>
            <li id="month-lookahead-btn" class="section-btn" data-section-div="3month-lookahead-dashboard-div"><a href="javascript:;"> 3-Month Lookahead</a></li>
            <!--li id="critical-path-btn" class="section-btn" data-section-div="critical-path-dashboard-div"><a href="javascript:;"> Critical Path</a></li-->
            <li id="critical-path-diagram-btn" class="section-btn" data-section-div="critical-path-diagram-dashboard-div"><a href="javascript:;"> Critical Path Diagram</a></li>
            <li id="critical-path-diagram-construction-btn" class="section-btn" data-section-div="critical-path-diagram-construction-dashboard-div"><a href="javascript:;"> Critical Path Diagram Construction</a></li>
            
          </ul>
        </li>
        
        <li id="risks-opportunities-btn" class="section-btn disable" data-section-div="risks-opportunities-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-exclamation-triangle"></i><span> Risks &amp; Opportunities </span></a>
        </li>
        
        <li id="key-issues-btn" class="section-btn disable" data-section-div="key-issues-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-key"></i><span> Key Issues </span></a>
        </li>

        <li id="document-control-btn" class="section-btn disable" data-section-div="document-control-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-file-text"></i><span> Document Control </span></a>
        </li>
        
        <li id="safety-btn" class="section-btn disable" data-section-div="safety-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-life-ring"></i><span> Safety </span></a>
        </li>
        
        <li id="sustainability-btn" class="section-btn disable" data-section-div="sustainability-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-cubes"></i><span> Sustainability </span></a>
        </li>
        
        <li id="compliance-btn" class="section-btn disable" data-section-div="compliance-dashboard-div">
          <a href="javascript:;" class="waves-effect waves-primary"><i class="md md-invert-colors-on fa fa-gavel"></i><span> Compliance </span></a>
        </li>
        

        <!--<li id="project-overview-btn" class="section-btn" data-section-div="project-overview-dashboard-div">
          <a href="#" class="waves-effect waves-primary"><i class="md md-redeem fa fa-eye"></i><span> Project Overview </span> </a>
        </li>-->          
      </ul>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

