<div class="dashboard-div" id="programme-on-page-dashboard-div">
  <h2 class="">Programme on a Page</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <!--<h4 class="text-dark header-title m-t-0 m-b-30">Metric</h4>-->
        <div class="widget-chart text-center">
          <div class="data-table" id="programme-on-page-data-table-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


