<div class="dashboard-div" id="progress-dashboard-div">
  <h2 class="">Progress</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Project Summary</h4>
        <div class="widget-chart text-center">
          <div class="data-table" id="project-summary-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark header-title m-t-0 m-b-30">Key Achievements in the Period</h4>
        <div class="widget-chart text-center">
          <div class="data-table" id="progress-data-table-1">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card-box">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Goals for Next Period</h4>
        <div class="widget-chart text-center">
          <div class="data-table" id="progress-data-table-2">
            <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>