<div class="side-bar right-bar">
  <div class="nicescroll">
    <ul class="nav nav-tabs tabs">
      <li class="tab">
        <a href="#messages-2" data-toggle="tab" aria-expanded="true">
          <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
          <span class="hidden-xs">Tools</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="messages-2">
        <div class="row m-t-20">
          <div class="col-xs-9">
            <h5 class="m-0">Print</h5>
            <p class="text-muted m-b-0"><small>Print Board Report</small></p>
          </div>
          <div class="col-xs-3 text-right">
            <a href="javascript:;" class=""><i class="md md-dashboard fa fa-print fa-2x" aria-hidden="true" id="print-report-1"></i></a>
          </div>
        </div>
        <!--
        <div class="row m-t-20 hidden" id="edit-summary-options">
          <div class="col-xs-9">
            <h5 class="m-0">Update</h5>
            <p class="text-muted m-b-0"><small>Update Executive Summary</small></p>
          </div>
          <div class="col-xs-3 text-right">
            <a href="#" class="" data-animation="slide" data-toggle="modal" data-target="#update-executive-modal">
              <i class="md md-dashboard fa fa-pencil-square-o fa-2x" aria-hidden="true" id="update-summary-1"></i>
            </a>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>

<!--
<div class="modal fade" id="update-executive-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myLargeModalLabel">Update Executive Summary</h4>
      </div>
      <div class="modal-body">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Summary</b></h4>
          <form class="" id="exec-summary-form" role="form" onsubmit="handleFormSubmit(this)">
            <div class="form-group" id="executive-update-block">
              <textarea class="form-control" rows="10" name="summary" id="textarea-1"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
-->
